#app-navigation .add-new .heading button {
  padding: 0 0 0 32px !important;
  line-height: 32px !important;
}

#app-navigation li > a {
  line-height: 32px !important;
  min-height: 32px !important;
}

#app-navigation .app-navigation-entry-utils li {
  height: 32px !important;
  line-height: 32px !important;
}

#app-navigation .app-navigation-entry-utils button {
  height: 28px !important;
  line-height: 28px !important;
}

#fileList tr td.filename>.selectCheckBox + label,
.select-all + label {
  height: 44px !important;
  width: 46px !important;
}

table td.filename .thumbnail {
  width: 28px !important;
  height: 28px !important;
  margin-top: 0px !important;
}

table td.filename a.name {
  height: 34px !important;
  line-height: 34px !important;
}

#fileList a.action {
  line-height: 34px !important;
  padding: 0px 8px !important;
}

table td.filename .nametext, .uploadtext, .modified, .column-last>span:first-child {padding: 0px 0 !important;}

#app-navigation .app-navigation-list-item .calendarCheckbox, #publicinformationscontainer .calendarCheckbox {
  margin-top: 10px !important;
}

#app-navigation .app-navigation-list-item .utils .action span {
  line-height: 12px !important;
  height: 12px !important;
  padding: 6px 6px !important;
}

#app-navigation .app-navigation-list-item .icon-loading-small {
  margin-top: 7px !important;
}

.contact__icon {
  height: 30px !important;
  width: 30px !important;
  line-height: 30px !important;
}

.app-content-list-item-line-one.no-line-two {
  padding-top: 19px !important;
  padding-bottom: 19px !important;
}

.app-content-list-item {
  height: 58px !important;
}

.settings-button {
  height: 32px !important;
}

.nav-trashbin {
  bottom: 32px !important;
}

#app-navigation {
  padding-bottom: 32px !important;
}

.tags_actions {
  line-height: 32px !important;
}
